*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 10vh;
    
}
.main-section{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(#00b7ff, #bfe98a);
   align-items: center;
   font-family: 'Orelega One', cursive;
    text-transform: uppercase;
    font-size: 25px;
    
    
}
nav{
    width:60%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}
nav a{
    text-decoration: none;
    
}
nav a:hover{
    color: red;
    font-size: 35px;
}
.body-section{
    
    height: 90vh;
    background-image: linear-gradient(#00b7ff, #bfe98a);
    text-align: center;
   

}
h2{
    padding-top: 40vh;
    font-size: 50px;
}
button{
    margin-top: 10vh;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-image: linear-gradient(#00b7ff, #bfe98a);
    font-size: large;
    font-family: 'Orelega One', cursive;
   
}
button:hover{
color: red;
width: 80%;
font-size: 80px;
}
.ayon{
    padding-top: 10vh;
    font-size: 25px;
    font-family: 'Great Vibes', cursive;
}